h1 {
  font-size: 1.5em;
  padding-left: 5px;
}
h2 {
  font-size: 1.25em;
  padding-left: 5px;
  margin: 5px;
}

li {
  font-size: 1em;
  margin: 10px;
}

div {
  border: 2px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: inline-block;
}

header {
  background-color: #4ac3ff;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  display: block;
}
.turtleBox {
  background-color: #39b948;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  display: block;
}

#turtle{
  width: 360px;
  padding: 10px;
}

#bunnyBox{
  width: 960px;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  border: none;
  display: block;

}

.bunnyBox {
  background-color: #23c2ff;
  width:180px;
  margin: 10px auto;
  padding: 0;
  vertical-align:top;
  display: inline-block;
}

.wabbit{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}