div {
  border: 2px solid white;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}


header {
  background-color: #4ac3ff;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  display: block;
}


h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

li {
  font-size: 1em;
}


.turtleBox {
  background-color: #39b948;
  width: 960px;
}

#tortoise{
  width: 320px;
  padding: 5px;
  margin-right: 20px;
  margin-top: 5px;
}


#bunnyBox{
  text-align: center;
}

.bunnyBox {
  background-color: #23c2ff;
  width:160px;
  margin: auto;
  padding: 12px;
  vertical-align:top;
  display: inline-block;
}

.wabbit{
  width: 90%;
  margin: auto;
  padding: 5px;
}

#game{
  display:none;
}

#background>img{
  width: 100%;
}